body {
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #ffffff;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.title {
  font-size: 36px;
}

.title::after {
  content: '|';
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.profile-container {
  max-width: 960px;
  padding: 2rem;
}

.top-section {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 3rem;
  align-items: flex-start;
}

.profile-img {
  width: 160px;
  height: 180px;
  object-fit: cover;
  margin-right: 1rem;
}

.intro-block {
  background: #1e1e1e;
  padding: 1rem;
  padding-right: 1.3rem;
  border-left: 4px solid #61dafb;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  margin-left: 0;
}

.info p {
  margin: 0.5rem 0;
  line-height: 1.5;
}

a {
  color: #61dafb;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

section {
  margin-bottom: 2rem;
}

section li {
  margin-bottom: 0.4rem;
  list-style: none;
  padding-left: 0;
}

h2 {
  margin-bottom: 0.5rem;
}

hr {
  border: none;
  border-top: 1px solid #333;
  margin-bottom: 1rem;
}

.skills-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.skills-list li {
  margin-bottom: 0.4rem;
  text-align: left;
  font-weight: 500;
}

.activities-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.activities-list li {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}

.activity-title {
  flex: 0.5;
  font-weight: 500;
  text-align: left;
}

.activity-date {
  flex: 1;
  text-align: left; 
  color: #ccc;
  font-size: 0.95rem;
}
